html {
  font-size: 62.5%;
  tab-size: 4 !important;
  /* figtree fonts*/
  font-family: "Figtree", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
.body {
  margin: 0;
  border: 0;
  background: hsl(47, 88%, 63%);
  color: hsl(0, 0%, 42%);
  /* Using grid to center the card */
  display: grid;
  place-items: center; /* Center both horizontally and vertically */
  height: 100vh; /* Full viewport height */
}

.card {
  background-color: white;
  max-width: 28rem;
  border: 0.1rem, solid, black;
  border-radius: 5%;
  box-shadow: 8px 8px 0px 0 black;
  padding: 2.2rem;
}
.card__header {
  margin: 0;
  width: 100%;
  /* height: 202px; */
  height: 20.2rem;
  overflow: hidden;
  position: relative;
  border-radius: 4%;
}
.card__image {
  width: 335px;
  height: auto; /* Maintain aspect ratio */
  position: absolute; /* Position the image absolutely */
  top: 50%; /* Center vertically */
  left: 50%; /* Center horizontally */
  transform: translate(-50%, -50%); /* Adjust position */
}
.card__main {
  margin-left: 2px;
}
.card__button {
  margin-top: 2.4rem;
  padding: 0.8rem 1.2rem;
  border: 0;
  background-color: hsl(47, 88%, 63%);
  border-radius: 10%;
  color: hsl(0, 0%, 7%);
  font-weight: bolder;
  font-size: 1.1rem;
}
.card_date {
  margin-top: 1.5rem;
  font-size: 1.2rem;
}
.card__title {
  margin-top: 1.7rem;
  color: hsl(0, 0%, 7%);
  font-size: 2rem;
}
.card_text {
  margin-top: -5px;
  font-size: 1.4rem;
  line-height: 1.5;
}
.card__footer {
  color: hsl(0, 0%, 7%);
  display: flex;
  align-items: center;
  margin-top: 2.2rem;
  font-weight: bolder;
  font-size: 1.4rem;
}
.card__fotter-avatar {
  margin-right: 0.9em;
  max-width: 33px;
}

@media (min-width: 600px) {
  .card {
    max-width: 34rem;
  }
  .card__button {
    padding: 0.8rem 1.5rem;
  }
  .card_date {
    margin-top: 1.5rem;
    font-size: 1.4rem;
  }
  .card__title {
    margin-top: 1.5rem;
    font-size: 2.4rem;
  }
  .card_text {
    font-size: 1.6rem;
  }
}
