.footer {
  background-color: var(--clr-primary-background-footer);
  position: relative;
  padding-inline: 1.8rem;
  padding-bottom: 3rem;
}
.access {
  background-color: var(--clr-primary-background);
  box-shadow: 2px 2px 2px var(--clr-neutral-dark);
  position: absolute;
  margin-top: -11.3rem;
  margin-left: -0.5rem;
  margin-right: 1.2rem;
  padding-top: 1rem;
  padding-left: 0.38rem;
  padding-right: 0.5rem;
  padding-bottom: 2.2rem;
  border-radius: 13px;
}
.access_tittle {
  padding-top: 1.5rem;
  font-size: 1.12rem;
}
.access__description {
  padding-top: 0.9rem;
  margin-inline: 7%;
}
.access__email {
  margin-top: 1.9rem;
}
.access__button {
  margin-top: 1.5rem;
  padding-top: 0.95rem;
  padding-bottom: 0.75rem;
  padding-inline: 4.54rem;
}
.footer__logo {
  padding-top: 15.4rem;
  padding-left: 0.6rem;
}
.footer__contact {
  margin-top: 2.5rem;
  display: grid;
}
.contact__location {
  display: flex;
}
.location__icon {
  margin-top: 0.39rem;
  height: 1.2rem;
  margin-left: -2px;
}
.location__details {
  text-align: left;
  padding-left: 1.7rem;
  font-size: 1rem;
}
.contact__phone-email {
  margin-top: 0.9rem;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}
.phone-icon {
  height: 1.84rem;
  margin-top: 2px;
  margin-left: 2px;
  padding-bottom: 1rem;
}
.phone__details {
  text-align: left;
  padding-left: 1.4rem;
  padding-right: 10rem;
  padding-bottom: 1rem;
}
.email-icon {
  height: 1rem;
  margin-top: 0.4rem;
}
.email__details {
  text-align: left;
  padding-left: 1.2rem;
  padding-top: 0.19rem;
}
.contact__about-us {
  margin-top: 5.3rem;
  list-style-type: none;
  text-align: left;
  padding: 0;
  font-size: 0.98rem;
}
.contact__about-us > li {
  padding-bottom: 0.9rem;
}
.contact__about-us > li:hover {
  cursor: pointer;
  font-variation-settings: "wght" 700;
  color: var(--clr-neutral-light);
}
.contact__contact-us {
  margin-top: 2rem;
  list-style-type: none;
  text-align: left;
  padding: 0;
  font-size: 0.98rem;
}
.contact__contact-us > li {
  padding-bottom: 0.9rem;
}
.contact__contact-us > li:hover {
  cursor: pointer;
  font-variation-settings: "wght" 700;
  color: var(--clr-neutral-light);
}
.contact__social {
  margin-top: 4.3rem;
  display: flex;
  justify-content: center;
}
.contact__social > img {
  padding-inline: 0.5rem;
  background-color: white;
  border-radius: 45%;
  margin-right: 0.3rem;
}
.contact__social > img:hover {
  cursor: pointer;
  background-color: var(--clr-accent-gradient);
}
@media (min-width: 900px) {
  .access {
    margin-top: -9.8rem;
    margin-left: 16.2rem;
    margin-right: 18rem;
  }
  .access_tittle {
    font-size: 2rem;
  }
  .access__description {
    margin-inline: 6rem;
  }
  .access__email {
    margin-top: 2.4rem;
    margin-left: 0rem;
    padding-left: 2rem;
    padding-right: 18.4rem;
  }
  .access__button {
    padding-top: 0.9rem;
    padding-right: 2rem;
    padding-bottom: 0.8rem;
    padding-left: 1.9rem;
    margin-left: 1.7rem;
    font-size: 0.88rem;
  }
  .footer {
    padding-bottom: 8rem;
  }
  .footer__logo {
    padding-top: 12.5rem;
    padding-left: 5.7rem;
  }
  .footer__contact {
    grid-template-columns: 3fr 3fr 1fr 1fr 2fr;
    padding-left: 5.8rem;
    margin-top: 2rem;
  }
  .location__details {
    padding-left: 1.7rem;
  }
  .contact__phone-email {
    margin-top: 0;
    margin-left: 4.5rem;
    align-content: baseline;
  }
  .phone-icon {
    height: 2.1rem;
  }
  .phone__details {
    margin-left: 0.2rem;
  }
  .email__details {
    margin-left: 0.3rem;
  }
  .contact__about-us {
    margin-top: 0;
  }
  .contact__contact-us {
    margin-top: 0;
    margin-left: 1.4rem;
  }
  .contact__social {
    margin-top: 0.3rem;
    margin-left: 2.2rem;
  }
}
